:root {
  --key-lime: #EDF67D;
  --orchid: #F896D8;
  --heliotrope: #CA7DF9;
  --blue: #724CF9;
  --slate: #564592;
  --magnolia: #E9E7F1;
  --white: white;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--slate);
  color: var(--magnolia);
  width: 100vw;
}

#title {
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 40px;
}

#timers {
  margin: 25px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#time-adjustor {
  margin: 10px 20px;
  padding: 20px 20px;
  display: inline-block;
  text-align: center;
  border: 2px solid var(--orchid);
  border-radius: 10px;
}

.title-2 {
  margin: 0 0;
  font-size: x-large;
}

.count-controls {
  margin: 20px 0px 0px 0px;
}

.timer-box {
  margin: 10px 20px;
  display: inline-block;
  text-align: center;
  border: 2px solid var(--key-lime);
  border-radius: 10px;
}

.timer-text-container {
  font-size: 50px;
  margin: 5px 0px 5px 0px;
  padding: 10px 20px;
}

.timer-text {
  margin: 0;
}

.controls {
  font-size: larger;
  font-weight: bold;
  margin: 0px 0px 20px 0px;
}

.button {
  border: 1px solid var(--slate);
  text-decoration: none;
  color: var(--magnolia);
  background-color: var(--slate);
  margin: 0px 10px;
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
}