:root {
  --key-lime: #EDF67D;
  --orchid: #F896D8;
  --heliotrope: #CA7DF9;
  --blue: #724CF9;
  --slate: #564592;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--slate);
}

h1 {
  margin: 0;
}